
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
{background-color white;}

header {
    text-align: center;
    background-size: cover;
    color: white;
}
body {
  background-color: black;
  color: white;
}
a {
  color: white;
}
h1 {
  font-size: 70px;
  color:white;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid black;
  border-radius: 20px;
}


li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
